@font-face {
    font-family: "attila";
    src: url(/attila.ttf);
}

@font-face {
    font-family: "dancingscript";
    src: url(/DancingScript-VariableFont_wght.ttf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "attila";
    color: #dadada;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #d6d3d3;
}

#main {
    /* width: 100%;
    height: 100%; */
    position: relative;
    background-color: #222;
    overflow-x: hidden;
}

#nav {
    
    width: 100vw;
    height: 12vh;
    /* margin-top: 10px; */
    padding: 0px 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vw;
    letter-spacing: 4px;
    position: fixed;
    z-index: 999;

}

#nav #nav-part1 {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    /* background: #000; */
}

 #nav #nav-part1 #ic i {
    cursor: pointer;
    transition: all ease 1s;
}

 #nav #nav-part1 .ri-menu-line {
    display: block;
}

 #nav #nav-part1 .ri-arrow-up-line {
    display: none;
}

 #nav h3 {
    transition: all ease 1s;
}

 #nav h4 {
    transition: all ease 1s;
}

 #full-scr-nav {
    position: absolute;
    top: -100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100vw;
    height: 100vh;
    background-color: #dadada;
    color: blue;
    padding: 100px;
    z-index: 98;
    transition: all ease 0.9s;

}

 #full-scr-nav h2 {
    color: #222;
    font-size: 10vw;
    transition: all ease 0.9s;
}

 #full-scr-nav p {
    max-width: 70vw;
    color: #222;
    font-size: 2vw;
    transition: all ease 0.9s;
}


#main #page1 {
    width: 100vw;
    min-height: 100vh;
    /* overflow: hidden; */
    position: relative;
}

#main #page1 h1 {

    position: absolute;
    top: 20%;
    letter-spacing: 1vw;
    font-size: 12vw;
    left: 12%;
}

#main #page1 h2 {

    position: absolute;
    top: 50%;
    letter-spacing: .1vw;
    font-size: 2vw;
    left: 30%;
    width: 22%;
}

#main #page1 h3 {

    position: absolute;
    top: 40%;
    letter-spacing: .1vw;
    font-size: .8vw;
    left: 70%;
    width: 10%;
}

#main #page2 {
    /* overflow: hidden; */
    /* background: #000; */
    width: 100vw;
    min-height: 100vh;

}

#main #page2 img {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0) scale(0.9);
    width: 100%;

}

#main #page2 #h11 {
    margin-top: 10vh;
}

#main #page2 #div21 {
    height: 90vh;
    overflow: hidden;
    display: flex;
    perspective: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main #page2 h1 {
    opacity: 0;
    transform: rotateX(270deg);
    transform-origin: left bottom;
    font-size: 4vw;
}

#main #page2 h1 span {
    font-family: "dancingscript";
}

/* #main #page3{
    width: 100vw;
    min-height: 100vh;

} */
#main #page4 {
    position: relative;
    width: 100vw;
    min-height: 100vh;

}

#main #page4 #div41 {
    padding: 4vw 5vw;
    padding-bottom: 1vw;
    width: 100vw;
    height: 100vh;
    font-size: 4.5vw;
}

#main #page4 #div42 {
    display: flex;
    width: 100vw;
    height: 30vh;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;

}

#main #page4 #div42 #div42div1 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5vw;
    width: 65%;
    height: 100%;

    border-right: 1px solid white;
    font-size: 2vw;

}

#main #page4 #div42 #div42div2 {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 35%;
    height: 100%;
    padding-left: 5vw;
    border-left: 1px solid white;
    line-height: 5vh;
    font-size: .9vw;


}

#main #page5 {
    width: 100vw;
    min-height: 100vh;
    background-color: black;
}

#main #page5 #div51 {
    padding: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background: url(https://uploads-ssl.webflow.com/61defec4a021d8fe954c11bd/61defec4a021d83ede4c11f8_stars.gif);
}

#main #page5 #div51 h1 {
    line-height: 4vw;
    text-align: center;
    font-size: 4vw;
}

#main #page5 #div51 h2 {
    margin-top: 2vw;
    text-align: left;
    font-size: 1vw;
}

#main #page5 #div51 h1 span {
    font-size: 5vw;
    font-family: "dancingscript";
}

#main #page5 #div51 img {
    margin-top: 8vw;
    transform: rotate(0);
}

#main #page6 {
    width: 100vw;
    height: 120vh;
    /* overflow: hidden; */
    cursor: default;
}

#main #page6 .slide1h1::-webkit-scrollbar {
    display: none;
}

#main #page6 .slide2h1::-webkit-scrollbar {
    display: none;
}

#main #page6 .slide1h1 {
    overflow-y: hidden;

}

#main #page6 .slide2h1 {
    overflow-y: hidden;

}

#main #page6 .slide2h1 h1 {
    transform: translateX(-96%);

}

#main #page6 h1 {
    font-size: 13vw;
    line-height: 11vw;
    text-transform: uppercase;
}

#main #page6 .one1 {
    color: transparent;

    -webkit-text-stroke: 1px #dadada;
}




#main #page7 {
    padding: 7vw 5vw;
    width: 100vw;
    height: 100vh;
    /* background: #000; */

}

#main #page7 .que {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #e92222; */
    height: 30%;
    text-align: center;
    font-size: 1.5vw;

}

#main #page7 .que span {
    font-family: "dancingscript";
}

#main #page7 .ans {
    margin-top: 2vh;
    display: flex;
    padding: 4vh 0vw;
    align-items: center;
    justify-content: space-around;
    /* background: #1ac308ab; */
    width: 100%;
    height: 70%;
}


#main #page7 .ans .yes {
    position: relative;
    /* background: #74b709; */
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    

}

#main #page7 .ans .no {
    position: relative;
    /* background: #abb709; */
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

}

#main #page7 .ans h1 {
    z-index: 10;
    /* background: #09a0b7; */
    width: 25%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#main #page7 .ans img {
    scale: .8;
    opacity: 0;
    z-index: 9;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 3s;
    position: absolute;
    border-radius: 4vh;
    object-fit: cover;
    object-position: center;

}

#main #page7 .ans .yes img {

    transform: translate(-110%, -110%) rotate(15deg);
}
#main #page7 .ans .no img {

    transform: translate(-330%, -100%) rotate(15deg);
}


#main #page8 {
    /* background: #c10f0f;; */
    width: 100vw;
    padding: 5vw 5vw;
    margin-bottom: 5vw;
    height: 110vh;
    position: relative;

}
#main #page8 h1 {
    font-size: 5vw;
    text-align: center;

}
#main #page8 #product {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    /* background-color: red; */

}
.products{
    height: 35vh;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
    top: 35vh;
    position: absolute;
    box-shadow: 0px 0px 15px #232025;
}
.products:hover{
    transform: rotate(13deg) scale(1.1);
}
.products img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
#product3{
    height: 50vh;
    z-index: 11;
}
#product1{
    left: 19vw;
    top: 41.5vh;
    height: 37vh;
    z-index: 9;
}
#product4{
    top: 38vh;
    height: 44vh;
    left: 57vw;
    z-index: 10;
}
#product2{
    height: 44vh;
    left: 30vw;
    top: 38vh;
    z-index: 10;
}
#product5{
    left: 70.5vw;
    z-index: 9;
    height: 37vh;
    top: 41.5vh;
}



